In [25]:
import numpy as np
import pandas as pd

In [26]:
df1 = pd.read_csv('data/grade.csv', encoding='euc-kr')
df1.index = ['학생1', '학생2', '학생3', '학생4', '학생5']
df1

     이름  학년  성별   국어    영어    수학    과학
학생1  철수   1  남자   98   NaN  88.0  64.0
학생2  영희   2  여자   88  90.0  62.0  72.0
학생3  민수   1  남자   92  70.0   NaN   NaN
학생4  수현   3  여자   63  60.0  31.0  70.0
학생5  호영   4  남자  120  50.0   NaN  88.0

In [27]:
# 특정 컬럼(Series)를 추출함
s1 = df1['국어']
s1

학생1     98
학생2     88
학생3     92
학생4     63
학생5    120
Name: 국어, dtype: int64

In [28]:
# index를 지정하여 행을 가져옴
s2 = df1.loc['학생3']
s2

이름      민수
학년       1
성별      남자
국어      92
영어    70.0
수학     NaN
과학     NaN
Name: 학생3, dtype: object

In [29]:
# 순서값을 통해 행을 가져옴
s3 = df1.iloc[2]
s3

이름      민수
학년       1
성별      남자
국어      92
영어    70.0
수학     NaN
과학     NaN
Name: 학생3, dtype: object

In [30]:
# 컬럼명, index를 지정하여 값 하나를 가져옴
# 데이터프레임[컬럼명][index]

# df1['국어']를 통해 국어 컬럼의 값을 Series로 추출함
# 추출된 Series에서 '학생3'이라는 index값을 추출함
a1 = df1['국어']['학생3']
a1

92

In [31]:
# 행렬 접근 방식 []은 혀용하지 않음.
# 아래 코드는 컬럼 이름이 ['국어', '학생3']으로 되어 있는 컬럼을 지치한 것임
a2 = df1['국어', '학생3']
a2

KeyError: ('국어', '학생3')

In [32]:
# index, 컬럼명을 지정하여 값을 가져옴
# 학생 데이터프레임에서 '학생3'이라는 index에 해당하는 값을 추출하고
# 추출된 Series에서 '국어'라는 index값을 추출함
a1 = df1.loc['학생3']['국어']

# 데이터프레임에 직접 접근하여 index가 '학생3', 컬럼명이 '국어'인 곳의 값을 가져옴
a2 = df1.loc['학생3', '국어']

display(a1)
display(a2)

92

92

In [33]:
# 순서값, 컬럼순서를 지정하여 값을 가져옴
# 데이터프레임에서 세번째(2) 행의 값을 모두 Series로 추출하고
# 추출된 Series에서 네번째(3) 값을 가져옴
a3 = df1.iloc[2][3]

# 데이터프레임에 직접 접근하여 세번째(2) 행, 네번째(3) 열을 직접 접근하여 값을 가져옴.
a4 = df1.iloc[2, 3]

display(a3)
display(a4)

92

92

### 값을 저장한다.

In [34]:
# [index][컬럼명]
# 데이터프레임으로부터 index가 '학생3'인 행의 데이터를 추출해
# 새로운 데이터프레임으로 만든 후 그 안에 영어 컬럼에 2000을 넣는 작업이므로
# 원본 데이터프레임에 반영되지 않음
df1.loc['학생3']['영어'] = 2000
df1

/Users/kwonsoonhyun/opt/anaconda3/lib/python3.9/site-packages/pandas/core/series.py:1056: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cacher_needs_updating = self._check_is_chained_assignment_possible()

     이름  학년  성별   국어    영어    수학    과학
학생1  철수   1  남자   98   NaN  88.0  64.0
학생2  영희   2  여자   88  90.0  62.0  72.0
학생3  민수   1  남자   92  70.0   NaN   NaN
학생4  수현   3  여자   63  60.0  31.0  70.0
학생5  호영   4  남자  120  50.0   NaN  88.0

In [35]:
# [index, 컬럼명]
# 이 문법은 데이터프레임에 직접 접근하기 때문에 값이 잘 설정됨
df1.loc['학생3', '영어'] = 2000
df1

     이름  학년  성별   국어      영어    수학    과학
학생1  철수   1  남자   98     NaN  88.0  64.0
학생2  영희   2  여자   88    90.0  62.0  72.0
학생3  민수   1  남자   92  2000.0   NaN   NaN
학생4  수현   3  여자   63    60.0  31.0  70.0
학생5  호영   4  남자  120    50.0   NaN  88.0

In [36]:
# [순서값, 컬럼순서]
# 데이터프레임의 두번째(1) 행, 네번째(3) 컬럼에 접근하여 값을 직접 설정함
df1.iloc[1, 3] = 3000
df1

     이름  학년  성별    국어      영어    수학    과학
학생1  철수   1  남자    98     NaN  88.0  64.0
학생2  영희   2  여자  3000    90.0  62.0  72.0
학생3  민수   1  남자    92  2000.0   NaN   NaN
학생4  수현   3  여자    63    60.0  31.0  70.0
학생5  호영   4  남자   120    50.0   NaN  88.0

In [37]:
# [컬럼명][index]
# [컬럼명][index] 형태로 지정하는 경우 [컬럼명, index] 문법을 지원하지 않음.
# 이에 [컬럼명][index] 형태로 값을 넣어주면 새롭게 생성되는 Series에 값을 설정하고
# 원본 데이터프레임에도 값을 설정해 줌
df1['과학']['학생4'] = 5000
df1

/var/folders/2p/5ztvmmzx1xzdnqqn7snr0gp00000gn/T/ipykernel_27014/1556925844.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['과학']['학생4'] = 5000

     이름  학년  성별    국어      영어    수학      과학
학생1  철수   1  남자    98     NaN  88.0    64.0
학생2  영희   2  여자  3000    90.0  62.0    72.0
학생3  민수   1  남자    92  2000.0   NaN     NaN
학생4  수현   3  여자    63    60.0  31.0  5000.0
학생5  호영   4  남자   120    50.0   NaN    88.0